@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
  --color-primary: #111b21;
  --color-typo: #e9edef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}


.arrow-left{
  position: relative;
}

.arrow-left::before {
  z-index: 100;
  content: "";
  position: absolute;
  left: -8px; 
  top: 0;
  border-width: 5px;
  border-style: solid;
  border-color: #202c33 #202c33 transparent transparent; 
}

.arrow-right{
  position: relative;
}

.arrow-right::after {
  z-index: 100;
  content: "";
  position: absolute;
  right: -8px; 
  top: 0;
  border-width: 5px;
  border-style: solid;
  border-color:  #005c4b #005c4b  #005c4b transparent; 
}